env
__pycache__
.env
*.pkl
*.zip
data/*
1_get_links/all_pages/
3_get_xray/metadata
3_get_xray/xrays
4_parse_xrays/parsed_xrays
5_get_subtitles/subtitles
6_character_metadata/all_crew_with_gender_ethnicity.csv
6_character_metadata/gender/all_people_with_manual_gender_merged.csv
6_character_metadata/gender/all_unique_crew_for_inference.csv
6_character_metadata/gender/crew_genderize_data.csv
6_character_metadata/gender/crew_genderize_data.json
6_character_metadata/gender/parsed_names_all_unique_crew_for_inference.csv
6_character_metadata/support_crew/manual_crew/all_support_crew_with_ethnicity.csv
6_character_metadata/support_crew/manual_crew/all_support_crew_with_unique_names.csv
6_character_metadata/support_crew/movies_support_crew.csv
6_character_metadata/support_crew/ethnicity_unique_names_movies_support_crew.csv
6_character_metadata/support_crew/manual_crew/unique_movies_support_crew*
6_character_metadata/support_crew/manual_crew/movies_support_crew*
6_character_metadata/support_crew/manual_crew/ethnicity_unique_names*
8_screenplays/parsed_screenplays
8_screenplays/raw_screenplays
cleanup_filenames.py
rename_files.py
test.py
test.csv
geckodriver.log

random_sampling.py
imdb_matching copy.py
matching_check.ipynb
all.csv
all_only_algo - Copy.csv
genre_check.ipynb
tmdb_data.json

dialogues
check.ipynb